@model IEnumerable<Project_PRN222.Models.Category>

@foreach (var category in Model)
{
    @if (category.InverseParentCategory.Any())
    {
        <div class="nav-item dropdown">
            <a href="@Url.Action("Index", "Product", new { categoryId = category.CategoryId })" class="nav-link" data-toggle="dropdown">
                @category.CategoryName <i class="fa fa-angle-down float-right mt-1"></i>
            </a>
            <div class="dropdown-menu position-absolute bg-secondary border-0 rounded-0 w-100 m-0">
                @foreach (var subCategory in category.InverseParentCategory)
                {
                    <a href="@Url.Action("Index", "Product", new { categoryId = subCategory.CategoryId })" class="dropdown-item">@subCategory.CategoryName</a>
                }
            </div>
        </div>
    }
    else
    {
        <a href="@Url.Action("Index", "Product", new { categoryId = category.CategoryId })" class="nav-item nav-link">@category.CategoryName</a>
    }
}